.infoContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.inputContainer{
    position: relative;
    margin-top: 2em;
}

label{
    position:absolute;
    bottom: 3em;
}

input {
    width: calc(100% - 2.5em);
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, 
    color .3s cubic-bezier(.25,.01,.25,1) 0s,
    background .2s cubic-bezier(.25,.01,.25,1) 0s;
   }
   
   input:hover, input:focus, input-group:hover input {
    outline: none;
    border-color: #05060f;
  }
  
  input-group:hover label, input:focus {
    color: #05060fc2;
  }