.careerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scaleY(1);
}

.inputContainer{
    position: relative;
    margin-top: 2em;
}

.job-entries{
    display: flex;
    flex-direction: column;
}

.job-element{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-info > h2 {
    font-size: 1em;
    margin: 0;
}

.job-info > p {
    margin: 0;
}