:root{
    --accent: #0D374E;
}

.cvOutline{
    width: 525px;
    aspect-ratio: 8.5/11;
    border: 1px solid black;
    background-color: white;
    flex-shrink: 0;
    max-height: calc(525px / (8.5/11));
}

.cvHeader{
    background-color: var(--accent);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 0;
}


.contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact > h2{
    font-size: 1em;
    font-weight: 300;
}

.subheading{
    text-align: center;
    font-size: 1em;
    background-color: #EFF1F2;
    margin: .5em;
}

.listEntry{
    display: flex;
    padding: 0 1em;
    margin-bottom: 1em;
    font-size: .75em;
}

.start-end{
    margin-right: 4em;
}

@media (max-width: 1000px) and (min-width: 675px) {
    .cvOutline{
        width: 90%;
        max-height: calc(100% / (8.5/11));
    }
  }
  
  @media (max-width: 674px){
    .cvOutline{
        width: 100%;
    }
  }